# http://editorconfig.org
# based on https://raw.githubusercontent.com/googleapis/google-cloud-cpp/main/.editorconfig
# see also: https://google.github.io/styleguide/cppguide.html#Spaces_vs._Tabs

root = true

[*]
charset = utf-8
indent_style = space

[BUILD]
indent_size = 4

[CMakeLists.*]
indent_size = 4

[*.hpp,*.cpp]
indent_size = 2

[*.md]
indent_size = 2

[*.sh]
indent_size = 2

